<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/daf6aae208.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="path.css">
  <title>Path of Eternity</title>
</head>

<body>
  <div id="PathApp" class="App-container">
    <!--<Popup />-->
    <div class="App-column">
      <div class="App-stats">
        <div class="App-bars">
          <div class="bars-component">
            <mainbar :bartype=player.cultivation :level=player.level></mainbar>
            <smallbar :bartype=player.body v-if='player.level > 1'></smallbar>
            <smallbar :bartype=player.mind v-if='player.level > 5'></smallbar>
            <smallbar :bartype=player.soul v-if='player.level > 25'></smallbar>
          </div>
        </div>
        <div class="App-timer">
          <div>
            <button onClick={onClick}>TICK (for manual debugging)</button>
            <button onClick={save}>Save</button>
            <button onClick={deleteSave}>Delete Save</button>
            <button onClick={showPopup}>Open Popup</button>
            <!-- <TimerArea/> -->
          </div>
        </div>
      </div>
      <div class="App-menu">
        <nav>
          <div class="nav nav-tabs" id="nav-tab">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-training">Training</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-sects" v-if='player.level > 2'>Sects</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-elements" v-if='player.level > 10'>Elements</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-training">
            <div class="tab-container row">
              <trainingpanel></trainingpanel>>
              <div class="col-4">&nbsp;</div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-sects">
            <div class="tab-container">
            </div>
          </div>
          <div class="tab-pane fade" id="nav-elements">
            <div class="tab-container">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="App-column">
      <div class="App-skills">
        <nav>
          <div class="nav nav-tabs" id="nav-tab">
            <a class="nav-item nav-link active" id="nav-battle-tab" data-toggle="tab" href="#nav-battle">Battle</a>
            <a class="nav-item nav-link" id="nav-alchemy-tab" data-toggle="tab" href="#nav-alchemy"
              v-if='player.level > 15'>Alchemy</a>
            <a class="nav-item nav-link" id="nav-meditation-tab" data-toggle="tab" href="#nav-meditation">Meditation</a>
            <a class="nav-item nav-link" id="nav-passives-tab" data-toggle="tab" href="#nav-passives">Passives</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-battle">
            <div class="skill-tab-container">
              <div class="training-container">
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-alchemy">
            <div class="skill-tab-container">
            </div>
          </div>
          <div class="tab-pane fade" id="nav-meditation">
            <div class="skill-tab-container">
            </div>
          </div>
          <div class="tab-pane fade" id="nav-passives">
            <div class="skill-tab-container">
            </div>
          </div>
        </div>
      </div>
      <div class="App-map">
        <div v-if='player.inEvent==true' class="encounter-panel">
          <eventpanel></eventpanel>
        </div>
        <!-- <EventListing /> -->
      </div>
    </div>
  </div>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="js/vue.js"></script>
  <script src="js/break_infinity.js"></script>
  <script src="js/calculate.js"></script>
  <script src="js/constant.js"></script>
  <script src="js/player.js"></script>
  <script src="js/skills.js"></script>
  <script src="js/events.js"></script>
  <script src="js/format.js"></script>
  <script src="js/index.js"></script>
  <script src="js/components/smallbar.js"></script>
  <script src="js/components/mainbar.js"></script>
  <script src="js/components/trainingbar.js"></script>
  <script src="js/components/trainingpanel.js"></script>
  <script src="js/components/eventpanel.js"></script>
  <script>
    app.mount('#PathApp');
  </script>
</body>

</html>