<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/daf6aae208.js" crossorigin="anonymous"></script>
  <script src="js/vue.js"></script>
  <script src="js/break_infinity.js"></script>
  <script src="js/calculate.js"></script>
  <script src="js/constant.js"></script>
  <script src="js/player.js"></script>
  <script src="js/skills.js"></script>
  <script src="js/events.js"></script>
  <script src="js/format.js"></script>
  <script src="js/saveload.js"></script>
  <script src="js/index.js"></script>
  <script src="js/components/smallbar.js"></script>
  <script src="js/components/mainbar.js"></script>
  <script src="js/components/trainingbar.js"></script>
  <script src="js/components/trainingpanel.js"></script>
  <script src="js/components/eventpanel.js"></script>
  <script src="js/components/techniquespanel.js"></script>
  <script src="js/components/skillbar.js"></script>
  <script src="js/components/skillslots.js"></script>
  <script src="js/components/modal.js"></script>
  <link rel="stylesheet" href="path.css">
  <title>Path of Eternity</title>
</head>

<body>
  <div id="app" class="container-fluid d-flex">
    <modal></modal>
    <div class="row my-1 flex-grow-1">
      <div class="col d-flex flex-column">
        <div class="row">
          <div class="col">
            <div class="row text-center">
              <mainbar :bartype=player.cultivation :level=player.level></mainbar>
              <smallbar :bartype=player.body v-if='player.level > 1'></smallbar>
              <smallbar :bartype=player.mind v-if='player.level > 5'></smallbar>
              <smallbar :bartype=player.soul v-if='player.level > 25'></smallbar>
            </div>
          </div>
          <div v-if='player.level > 0' class="col-2 d-flex">
            <div class="row gx-0 flex-grow-1">
              <div class="panel-border">
                <button onClick=saveGame()>Save</button>
                <button onClick=deleteGame()>Delete Save</button>
                <!-- <TimerArea/> -->
              </div>
            </div>
          </div>
        </div>
        <div v-if='player.level > 0' class="row mt-1 flex-grow-1">
          <div class="col d-flex flex-column">
            <nav>
              <div class="nav nav-tabs">
                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-training">Training</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-sects" v-if='player.level > 2'>Sects</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-elements"
                  v-if='player.level > 10'>Elements</a>
              </div>
            </nav>
            <div class="tab-content tab-border flex-grow-1">
              <div class="tab-pane fade show active" id="nav-training">
                <div class="row">
                  <trainingpanel></trainingpanel>>
                  <div class="col-4">&nbsp;</div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-sects">
              </div>
              <div class="tab-pane fade" id="nav-elements">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <div class="row flex-grow-1">
          <div v-if='player.level > 0' class="col d-flex flex-column">
            <nav>
              <div class="nav nav-tabs">
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-battle" v-if='player.level > 2'>Battle</a>
                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-techniques">Techniques</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-alchemy" v-if='player.level > 15'>Alchemy</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#nav-passives" v-if='player.level > 5'>Passives</a>
              </div>
            </nav>
            <div class="tab-content tab-border flex-grow-1">
              <div class="tab-pane fade" id="nav-battle">
              </div>
              <div class="tab-pane fade show active" id="nav-techniques">
                <techniquespanel></techniquespanel>
              </div>
              <div class="tab-pane fade" id="nav-alchemy">
              </div>
              <div class="tab-pane fade" id="nav-passives">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 flex-grow-1">
          <div v-if='player.inEvent==true' class="col d-flex flex-column">
            <eventpanel></eventpanel>
          </div>
          <!-- <EventListing /> -->
        </div>
      </div>
    </div>
  </div>

  <script>
    app.mount('#app');
  </script>
</body>

</html>