
.tab-border {
  border: solid;
  border-color: #cccccc;
  margin-bottom: 5px;
  padding: 5px;
}

.panel-border {
  border: solid;
  border-color: #cccccc;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
