#app {
  min-height: 100vh;
}
.tab-border {
  border: solid;
  border-color: #cccccc;
  padding: 5px;
}

.panel-border {
  border: solid;
  border-color: #cccccc;
  margin: 5px;
  padding: 5px;
}

.tab-container {
  margin: 5px;
}

.event-top {
  text-align: center;
  border-bottom: solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.stat-progress {
  height:34px !important;
}

.progress span {
  position: absolute;
  width: 100%;
  color: black;
  font-size: 14px;
  left: 0px;
}
